<ion-header>
  <ion-toolbar>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="gallery">
    @for (user of users; track $index) {
      <app-photo-card
        [image]="user.image"
        [username]="user.username"
        (imageClick)="openModal($event)"
      />
    }
  </div>

  <ion-modal id="photo-modal" #photoModal trigger="open-photo-modal">
    <ng-template>
        <app-photo-detail [image]="currentImage" />
    </ng-template>
  </ion-modal>

</ion-content>
