.ion-padding {
  --padding-start: 32px;
  --padding-end: 32px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.content-empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}