<ion-header class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar> -->
  <div class="toolbar">
    <button type="button" class="logout" (click)="onLogout()">
      <svg
        width="28"
        height="29"
        viewBox="0 0 28 29"
        fill="#F66"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.286 6.548a1.134 1.134 0 0 1-.317 1.574A9.07 9.07 0 0 0 4.9 15.69c0 5.016 4.074 9.081 9.1 9.081s9.1-4.065 9.1-9.08a9.07 9.07 0 0 0-4.069-7.569 1.134 1.134 0 0 1-.317-1.574 1.14 1.14 0 0 1 1.577-.317 11.34 11.34 0 0 1 5.084 9.46c0 6.268-5.093 11.35-11.375 11.35S2.625 21.96 2.625 15.692c0-3.95 2.022-7.428 5.084-9.46a1.14 1.14 0 0 1 1.577.317"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14 1.959c.644 0 1.167.522 1.167 1.166v9.334a1.167 1.167 0 0 1-2.334 0V3.125c0-.644.523-1.166 1.167-1.166"
        />
      </svg>
    </button>
  </div>
</ion-header>
<ion-content>
  <div class="wrapper">
    @switch (currentTheme) { @case ('animals') { @for (animal of animals; track
    $index) {
    <button
      class="box"
      (click)="onItemSelected(animal)"
      [ngClass]="itemSelected === animal.id && isActive ? 'show' : 'hide'"
    >
      <img [src]="animal.image" alt="" />
    </button>
    } } @case ('colors') { @for (color of colors; track $index) {
    <button
      class="box"
      (click)="onItemSelected(color)"
      [ngClass]="itemSelected === color.id ? 'show' : 'hide'"
    >
      <svg
        width="128"
        height="138"
        viewBox="0 0 128 138"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="fill: {{ color.color }};"
      >
        <path
          d="m123.738 53.586.001.01.002.01c2.139 16.943 4.02 32.845-.583 47.825-4.625 14.876-15.729 28.638-29.012 32.944-6.608 2.143-13.896 2.011-21.651.51-7.76-1.501-15.854-4.345-24.028-7.5-16.458-6.354-32.023-13.54-39.812-26.07l-.005-.007-.005-.008C.7 88.769.15 70.298 5.556 55.63c5.368-14.562 16.786-25.518 28.647-34.404 11.822-8.858 23.986-15.52 37.985-18.08 7.029-1.284 14.532-1.574 21.365-.433 6.839 1.14 12.872 3.689 17.156 7.957 4.304 4.376 7.095 10.74 9.045 18.305 1.947 7.554 2.999 16.074 3.984 24.61Z"
          stroke="#fff"
          stroke-width="4"
        />
      </svg>
    </button>
    } } @case ('numbers') { @for (number of numbers; track $index) {
    <button class="box" (click)="onItemSelected(number)">
      {{ number.number }}
    </button>
    } } }
  </div>
  <div class="toolbar footer">
    <app-speed-dial [items]="languages" />
    <app-speed-dial [items]="themes" />
  </div>
</ion-content>
