.ion-padding {
  --padding-start: 32px;
  --padding-end: 32px;
}

ion-button {
  display: block;
  height: 330px;
  margin-bottom: 24px;

  --background: var(--ion-card-color);
  --border-radius: 50px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--ion-muted-foreground);
  margin-bottom: 16px;
}