/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

:root {
  --ion-background-color: #131313;
  --ion-font-family: "Poppins", sans-serif;
  --ion-text-color: #ffffff;
  --ion-color-primary: #2D74FF;
  --ion-color-danger: #FF2D2D;

  --ion-input-color: #1E1F21;
  --ion-card-color: #1E1F21;
  --ion-muted-foreground: #808080;
}

ion-skeleton-text {
  --border-radius: 9999px;
  --background: rgb(128, 128, 128, 0.065);
  --background-rgb: 128, 128, 128;
}

.form-field {
  margin-bottom: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

ion-button {
  --border-radius: 8px;
  --box-shadow: none;

  min-height: 56px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

ion-content {
  --padding-top: 32px;
  --padding-bottom: 32px;
  --padding-start: 32px;
  --padding-end: 32px;
}

ion-toolbar {
  // --background-color: black;
  --min-height: 84px;
  --padding-start: 20px;
  --padding-end: 20px;

  ion-title {
    position: absolute;
    font-size: 24px;
    font-weight: 500;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: grid;
    place-content: center;
  }
}

ion-modal {
  --height: 50%;

  &#photo-modal {
    --background: transparent;
    --width: fit-content;
    --min-width: calc(100% - 64px);
    --height: fit-content;
    --border-radius: 12px;
  }
}

ion-modal>.ion-page {
  margin: 0 32px;
}

ion-modal::part(backdrop) {
  background: rgb(0, 0, 0);
  opacity: .5;
}

// ion-modal {
//   --height: 50%;
//   --border-radius: 16px;
//   --box-shadow: none;
//   --background: transparent;
// }

// ion-modal::part(backdrop) {
//   background: rgb(0, 0, 0);
//   opacity: .5;
// }