<ion-menu contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="user">
        <img
          [src]="(currentUser$ | async)?.photoURL"
          alt="Profile picture"
          class="avatar"
        />
        <div class="content">
          <span class="username"
            >{{ (currentUser$ | async)?.displayName }}</span
          >
          <span class="email">{{ (currentUser$ | async)?.email }}</span>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      <ion-item button class="logout" (click)="logout()">
        <ion-icon src="assets/icon/logout.svg"></ion-icon>
        <ion-label color="danger">Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <div class="toolbar">
      @if (currentUser$ | async; as currentUser) {
        <ion-menu-toggle>
          <img
            [src]="currentUser.photoURL"
            alt="Profile picture"
            class="avatar-header"
          />
        </ion-menu-toggle>
        <div>
          ¡Hola!
  
          <h2 class="name">{{ currentUser.displayName }}</h2>
        </div>
      }
    </div>

  </ion-header>
</div>

<ion-content>
  <div class="wrapper">
    <div class="content">
      <div class="body">
        <h1 class="point">{{ point }}</h1>
        <p class="description">Tus creditos</p>
      </div>
    </div>

    <div>
      <ion-button
        type="submit"
        expand="block"
        (click)="onAdd()"
        >Escanear QR</ion-button
      >
      <ion-button id="open-modal" expand="block" fill="clear" (click)="onClear()"
        >Borrar creditos</ion-button
      >
    </div>
  </div>
</ion-content>