.avatar-header {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  object-fit: cover;
}

ion-menu {
  ion-toolbar {
    --padding-top: 40px;
    --padding-bottom: 20px;

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        object-fit: cover;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;

        .username {
          font-size: 20px;
          font-weight: 500;
        }

        .email {
          font-size: 16px;
          color: #808080;
        }
      }
    }
  }
}

ion-item {
  --color-hover: white;
  --border-radius: 8px;
  --min-height: 54px;
  font-size: 14px;
  color: white;

  ion-icon {
    margin-right: 20px;
  }

  &.logout {
    --color-hover: hsl(2, 72%, 59%);
    color: hsl(2, 72%, 59%);
  }
}

.toolbar {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  margin: 0;
  font-size: 20px;
}

ion-item::part(native) {
  padding-left: 32px;
}

ion-content {
  --padding-top: 32px;
  --padding-start: 32px;
  --padding-end: 32px;
  --padding-bottom: 32px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.point {
  margin: 0;
  font-size: 80px;
  text-align: center;
}

.description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #808080;
  text-align: center;
}