<ion-content>
  <form class="form" (submit)="onLogin()" [formGroup]="form">
    <div>
      <h1 class="title">Ingresa a tu cuenta</h1>
      <p class="description">Completa tus datos</p>

      <div class="form-group">
        <input
          type="text"
          placeholder="Correo electronico"
          class="input input-email"
          formControlName="email"
        />
        <input
          type="password"
          placeholder="Contraseña"
          class="input input-password"
          formControlName="password"
        />

        @if (hasError) {
        <p class="error-message">
          Correo electronico y/o contraseña incorrectos.
        </p>
        }
      </div>

      <button
        type="submit"
        class="button"
        [disabled]="(form.statusChanges | async) !== 'VALID'"
      >
        @if (isLoading) { Cargando... } @else { Ingresar }
      </button>
    </div>

    <div class="accounts">
      @for (account of accounts; track $index) {
      <app-account-card
        [role]="account.role"
        (click)="onSelectedAccount(account)"
      />
      }
    </div>
  </form>
</ion-content>
