ion-content {
  --padding-top: 40px;
  --padding-start: 32px;
  --padding-end: 32px;
  --padding-bottom: 40px;
  --background: #131313;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-field:first-child {
  display: block;
  margin-bottom: 24px;
}

h1,
p {
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: 800;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #dfdfdf;
}

.form-group {
  margin: 32px 0;
}

.input {
  display: block;
  width: 100%;
  background-color: #fff;
  color: #131313;
  height: 56px;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid #dfdfdf;
  display: flex;
  align-items: center;
  padding: 0 24px;
  outline: 0;

  &.input-email {
    border-bottom: 0;
    border-radius: 14px 14px 0 0;
  }

  &.input-password {
    border-radius: 0 0 14px 14px;
  }
}

.error-message {
  margin-top: 8px;
  font-size: 14px;
  color: #ff6666;
}

.accounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.button {
  display: block;
  width: 100%;
  background-color: #ffe066;
  color: #131313;
  height: 56px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 14px;
  border-bottom: 4px solid #ffc93d;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
  }
}
