<ion-content>
  <form class="form" [formGroup]="form" (submit)="onLogin()">
    <div>
      <h1 class="title">
        ¡Hola! <br />
        Bienvenido de vuelta
      </h1>

      <app-input
        label="Correo electronico"
        placeholder="Correo electronico"
        formControlName="email"
      />

      <app-input
        type="password"
        label="Contraseña"
        placeholder="Contraseña"
        formControlName="password" 
      />
    </div>

    <ion-button type="submit" expand="block" color="secondary"
      >Iniciar sesión</ion-button
    >
  </form>
</ion-content>
