ion-content {
  --padding-top: 32px;
  --padding-start: 32px;
  --padding-end: 32px;
  --padding-bottom: 32px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
