<ion-content>
  <form class="form" [formGroup]="form" (submit)="onLogin()">
    <div>
      <h1 class="title">
        ¡Hola! <br />
        Bienvenido de vuelta
      </h1>

      <ion-select
        placeholder="Seleccione su cuenta"
        (ionChange)="onAccount($event)"
      >
        @for (account of accounts; track $index) {
        <ion-select-option [value]="account.role"
          >{{ account.role }}</ion-select-option
        >
        }
      </ion-select>

      <app-divider label="o continua con tu correo electrónico" />

      <div class="content first">
        <input
          type="text"
          class="input"
          placeholder="Correo electrónico"
          [ngClass]="{ 'hasError': hasError && !isLoading && form.pending }"
          formControlName="email"
        />
        <label class="label">Correo electrónico</label>
      </div>

      <div class="content">
        <input
          type="password"
          class="input"
          placeholder="Contraseña"
          [ngClass]="{ 'hasError': hasError && !isLoading && form.pending }"
          formControlName="password"
        />
        <label class="label">Contraseña</label>
      </div>

      @if (form.pending && hasError) {
      <p class="error-message">
        El correo electronico o contraseña son incorrectos. Vuelve a ingresar tu
        informacion.
      </p>
      }
    </div>

    <button
      type="submit"
      class="login"
      [disabled]="(form.statusChanges | async) !== 'VALID'"
    >
      @if (isLoading) {
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      } @else { Iniciar sesión }
    </button>
  </form>
</ion-content>
