<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="contain">
      <button type="button" id="open-modal" class="push-button" [ngClass]="isLocked ? 'disable' : 'enable'" (click)="onToggle()"></button>
    
      <div class="content">
        <h2 class="title">
          El dispositivo esta 
          {{ isLocked ? 'bloqueado' : 'desbloqueado' }}
        </h2>
        <p class="description">
          Haga click en el boton para 
          {{ isLocked ? 'desbloquear' : 'bloquear' }}
        </p>
      </div>
    </div>
  </div>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">
        <div class="content">
          <h2 class="title">Desbloquear dispositivo</h2>
          <p class="description">Ingrese la contraseña para desbloquear el dispositivo</p>
          <app-input
            label="Contraseña"
            placeholder="Contraseña"
            type="text"
          />
          <!-- <ion-input label="Contraseña" labelPlacement="floating" fill="solid" placeholder="Contraseña" class="input"></ion-input> -->
        </div>

        <ion-button color="secondary" expand="block">Desbloquear</ion-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
