ion-tab-bar {
  height: 80px;
  border: 0;
  --background: hsl(0, 0%, 7%);

  ion-tab-button {
    --font-size: 12px;
    color: hsl(0, 0%, 100%);

    --color: hsl(215, 75%, 50%);
    --color-selected: hsl(215, 75%, 50%);

    ion-icon {
      margin-bottom: 6px;
      stroke: hsl(0, 0%, 100%);
    }

    &:hover .custom-icon {
      stroke: hsl(215, 75%, 50%);
    }
  }
}
