ion-tab-bar {
  height: 80px;
  border: 0;
  --background: var(--ion-card-color);

  ion-tab-button {
    --font-size: 12px;
    color: hsl(0, 0%, 100%);

    --color: var(--ion-color-primary);
    --color-selected: var(--ion-color-primary);

    ion-icon {
      margin-bottom: 6px;
      stroke: hsl(0, 0%, 100%);
    }

    &:hover .custom-icon {
      stroke:var(--ion-color-primary);
    }
  }
}
