<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="statistics">
      <ion-icon src="assets/icon/diagram.svg" class="custom-icon"></ion-icon>

      Estadisticas
    </ion-tab-button>
    <ion-tab-button tab="photography">
      <ion-icon src="assets/icon/camera.svg" class="custom-icon"></ion-icon>

      Fotografiar
    </ion-tab-button>
    <ion-tab-button tab="explore">
      <ion-icon src="assets/icon/discover.svg" class="custom-icon"></ion-icon>

      Explorar
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
