ion-content {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.push-button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disable {
    background-color: hsl(1, 85%, 65%);
    box-shadow: 0 0 0 20px hsla(1, 85%, 65%, 0.6),
      0 0 0 40px hsla(1, 85%, 65%, 0.4), 0 0 0 60px hsla(1, 85%, 65%, 0.2);
  }

  &.enable {
    background-color: hsl(155, 85%, 65%);
    box-shadow: 0 0 0 20px hsla(155, 85%, 65%, 0.6),
      0 0 0 40px hsla(155, 85%, 65%, 0.4), 0 0 0 60px hsla(155, 85%, 65%, 0.2);
  }

  svg {
    width: 56px;
    height: auto;
  }
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 86px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .title {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }

  .description {
    margin: 0;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
  }
}
