<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="wrapper" [formGroup]="form">
    <div>
      <div class="accounts">
        @for (account of accounts; track $index) {
          <app-account-card [role]="account.role" [selected]="selectedAccount === account.id" (click)="onSelectedAccount(account)" />
        }
      </div>

      <app-divider label="o inicia sesión con tu correo electrónico" />
    
      <div class="form-field">
        <label class="label">
          Correo electrónico
    
          <ion-input
              fill="outline"
              class="input"
              placeholder="Correo electrónico"
              formControlName="email"
          />
        </label>
      </div>
    
      <div class="form-field">
        <label class="label">
          Contraseña
    
          <ion-input
              fill="outline"
              type="password"
              class="input"
              placeholder="Contraseña"
              formControlName="password"
          />
        </label>
      </div>
    </div>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="(form.statusChanges | async) !== 'VALID'"
      (click)="onLogin()"
    >Iniciar sesión</ion-button>
  </form>

</ion-content>
